@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Segoe UI", Roboto,
    Arial, sans-serif;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  border-color: white;
}
input:checked + .toggle-bg {
  background: #fe343f;
  border-color: #212428;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.card-sm {
  @apply bg-[#212428] container mx-auto 2xl:w-1/2 md:px-16 xl:px-16 py-10 rounded-2xl my-auto self-center flex flex-col justify-center text-slate-100;
}
.card-md {
  @apply bg-[#212428] container mx-auto 2xl:w-2/3 md:px-16 xl:px-16 sm:px-10 px-8 py-10 rounded-2xl my-auto self-center flex flex-col justify-center text-slate-100;
}
.custom-input {
  @apply bg-[#efefef] px-4 py-2  text-[#262626] outline-slate-50 rounded;
}
.custom-input-sm {
  @apply bg-[#212428] px-4 w-1/5 py-2 border-[#C4C4C4] border-[0.075rem] outline-slate-500 rounded;
}
.custom-input-md {
  @apply bg-[#212428] px-4 w-3/5 py-2 border-[#C4C4C4] border-[0.075rem] outline-slate-500 rounded;
}
.navbar-icon {
  @apply hover:cursor-pointer;
}
/* * {
  scrollbar-width: auto;
  scrollbar-color: #bdb4c0 #ffffff;
}

Chrome, Edge, and Safari
*::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #26292d;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdb4c0;
  border-radius: 10px;
  border: 1px solid #ffffff;
} */

/* 
.App {
  background: linear-gradient(
    to right,
    rgb(245, 153, 129) 0%,
    rgb(193, 139, 181) 50%,
    rgb(122, 158, 211) 90%,
    rgb(116, 160, 213) 100%
  );
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
